In [1]:
import pandas as pd
corona_confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
corona_confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,24,40,40,74,84,94,110,110,120,170
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,76,89,104,123,146,174,186,197,212,223
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,139,201,230,264,302,367,409,454,511,584
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,88,113,133,164,188,224,267,308,334,370
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,3,3,3,4,4,5,7,7

In [2]:
corona_death_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
corona_death_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,1,1,1,2,4,4,4,4,4
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,2,4,5,5,6,8,10,10,11
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,15,17,17,19,21,25,26,29,31,35
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,0,1,1,1,1,3,3,3,6,8
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2

In [3]:
corona_recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
corona_recovered_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1,1,1,1,2,2,2,2,2,2
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,2,2,2,10,17,17,31,31,33,44
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,32,65,65,24,65,29,29,31,31,37
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,10
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
corona_confirmed_df=corona_confirmed_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])
corona_confirmed_df.head()

  Province/State Country/Region      Lat     Long variable  value
0            NaN    Afghanistan  33.0000  65.0000  1/22/20      0
1            NaN        Albania  41.1533  20.1683  1/22/20      0
2            NaN        Algeria  28.0339   1.6596  1/22/20      0
3            NaN        Andorra  42.5063   1.5218  1/22/20      0
4            NaN         Angola -11.2027  17.8739  1/22/20      0

In [5]:
corona_confirmed_df=corona_confirmed_df.rename({'variable':'Date','value': 'Confirmed'}, axis='columns')
corona_confirmed_df.head()

  Province/State Country/Region      Lat     Long     Date  Confirmed
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [6]:
corona_death_df=corona_death_df.melt(id_vars=['Province/State','Country/Region','Lat','Long'])
corona_death_df=corona_death_df.rename({'variable':'Date','value': 'Death'}, axis='columns')
corona_death_df.head()

  Province/State Country/Region      Lat     Long     Date  Death
0            NaN    Afghanistan  33.0000  65.0000  1/22/20      0
1            NaN        Albania  41.1533  20.1683  1/22/20      0
2            NaN        Algeria  28.0339   1.6596  1/22/20      0
3            NaN        Andorra  42.5063   1.5218  1/22/20      0
4            NaN         Angola -11.2027  17.8739  1/22/20      0

In [7]:
corona_recovered_df=corona_recovered_df.melt(id_vars=['Province/State','Country/Region','Lat','Long']).rename({'variable':'Date','value': 'Recovered'}, axis='columns')
corona_recovered_df.head()

  Province/State Country/Region      Lat     Long     Date  Recovered
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [8]:
combined_df = [corona_confirmed_df, corona_death_df, corona_recovered_df]
combined_df = [df.set_index(['Province/State','Country/Region','Lat','Long','Date']) for df in combined_df]
combined_df=combined_df[0].join(combined_df[1:])
combined_df.head()

                                                        Confirmed  Death  \
Province/State Country/Region Lat      Long    Date
NaN            Afghanistan     33.0000 65.0000 1/22/20          0      0
               Albania         41.1533 20.1683 1/22/20          0      0
               Algeria         28.0339 1.6596  1/22/20          0      0
               Andorra         42.5063 1.5218  1/22/20          0      0
               Angola         -11.2027 17.8739 1/22/20          0      0

                                                        Recovered
Province/State Country/Region Lat      Long    Date
NaN            Afghanistan     33.0000 65.0000 1/22/20        0.0
               Albania         41.1533 20.1683 1/22/20        0.0
               Algeria         28.0339 1.6596  1/22/20        0.0
               Andorra         42.5063 1.5218  1/22/20        0.0
               Angola         -11.2027 17.8739 1/22/20        0.0

In [9]:
combined_df=combined_df.reset_index()
combined_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Death,Recovered
0,NaN,Afghanistan,33.0000,65.0000,1/22/20,0,0,0.0
1,NaN,Albania,41.1533,20.1683,1/22/20,0,0,0.0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0,0,0.0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0,0,0.0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0,0,0.0

In [10]:
combined_df[['Lat', 'Long','Confirmed','Death','Recovered']] = combined_df[['Lat', 'Long','Confirmed','Death','Recovered']].apply(pd.to_numeric)
combined_df[['Date']] = combined_df[['Date']].apply(pd.to_datetime)
combined_df.dtypes

Province/State            object
Country/Region            object
Lat                      float64
Long                     float64
Date              datetime64[ns]
Confirmed                  int64
Death                      int64
Recovered                float64
dtype: object

In [11]:
combined_df=combined_df.rename({'Province/State':'State','Country/Region': 'Country'}, axis='columns')
combined_df.isnull().any()

State         True
Country      False
Lat          False
Long         False
Date         False
Confirmed    False
Death        False
Recovered     True
dtype: bool

In [12]:
combined_df.count()

State         5451
Country      17526
Lat          17526
Long         17526
Date         17526
Confirmed    17526
Death        17526
Recovered    16284
dtype: int64

In [13]:
combined_df.set_index('Country').filter(like="India", axis=0)

        State   Lat  Long       Date  Confirmed  Death  Recovered
Country
India     NaN  21.0  78.0 2020-01-22          0      0        0.0
India     NaN  21.0  78.0 2020-01-23          0      0        0.0
India     NaN  21.0  78.0 2020-01-24          0      0        0.0
India     NaN  21.0  78.0 2020-01-25          0      0        0.0
India     NaN  21.0  78.0 2020-01-26          0      0        0.0
India     NaN  21.0  78.0 2020-01-27          0      0        0.0
India     NaN  21.0  78.0 2020-01-28          0      0        0.0
India     NaN  21.0  78.0 2020-01-29          0      0        0.0
India     NaN  21.0  78.0 2020-01-30          1      0        0.0
India     NaN  21.0  78.0 2020-01-31          1      0        0.0
India     NaN  21.0  78.0 2020-02-01          1      0        0.0
India     NaN  21.0  78.0 2020-02-02          2      0        0.0
India     NaN  21.0  78.0 2020-02-03          3      0        0.0
India     NaN  21.0  78.0 2020-02-04          3      0        0.0
India     NaN  21.0  78.0 2020-02-05          3      0        0.0
India     NaN  21.0  78.0 2020-02-06          3      0        0.0
India     NaN  21.0  78.0 2020-02-07          3      0        0.0
India     NaN  21.0  78.0 2020-02-08          3      0        0.0
India     NaN  21.0  78.0 2020-02-09          3      0        0.0
India     NaN  21.0  78.0 2020-02-10          3      0        0.0
India     NaN  21.0  78.0 2020-02-11          3      0        0.0
India     NaN  21.0  78.0 2020-02-12          3      0        0.0
India     NaN  21.0  78.0 2020-02-13          3      0        0.0
India     NaN  21.0  78.0 2020-02-14          3      0        0.0
India     NaN  21.0  78.0 2020-02-15          3      0        0.0
India     NaN  21.0  78.0 2020-02-16          3      0        3.0
India     NaN  21.0  78.0 2020-02-17          3      0        3.0
India     NaN  21.0  78.0 2020-02-18          3      0        3.0
India     NaN  21.0  78.0 2020-02-19          3      0        3.0
India     NaN  21.0  78.0 2020-02-20          3      0        3.0
...       ...   ...   ...        ...        ...    ...        ...
India     NaN  21.0  78.0 2020-03-01          3      0        3.0
India     NaN  21.0  78.0 2020-03-02          5      0        3.0
India     NaN  21.0  78.0 2020-03-03          5      0        3.0
India     NaN  21.0  78.0 2020-03-04         28      0        3.0
India     NaN  21.0  78.0 2020-03-05         30      0        3.0
India     NaN  21.0  78.0 2020-03-06         31      0        3.0
India     NaN  21.0  78.0 2020-03-07         34      0        3.0
India     NaN  21.0  78.0 2020-03-08         39      0        3.0
India     NaN  21.0  78.0 2020-03-09         43      0        3.0
India     NaN  21.0  78.0 2020-03-10         56      0        4.0
India     NaN  21.0  78.0 2020-03-11         62      1        4.0
India     NaN  21.0  78.0 2020-03-12         73      1        4.0
India     NaN  21.0  78.0 2020-03-13         82      2        4.0
India     NaN  21.0  78.0 2020-03-14        102      2        4.0
India     NaN  21.0  78.0 2020-03-15        113      2       13.0
India     NaN  21.0  78.0 2020-03-16        119      2       13.0
India     NaN  21.0  78.0 2020-03-17        142      3       14.0
India     NaN  21.0  78.0 2020-03-18        156      3       14.0
India     NaN  21.0  78.0 2020-03-19        194      4       15.0
India     NaN  21.0  78.0 2020-03-20        244      5       20.0
India     NaN  21.0  78.0 2020-03-21        330      4       23.0
India     NaN  21.0  78.0 2020-03-22        396      7       27.0
India     NaN  21.0  78.0 2020-03-23        499     10       27.0
India     NaN  21.0  78.0 2020-03-24        536     10       40.0
India     NaN  21.0  78.0 2020-03-25        657     12       43.0
India     NaN  21.0  78.0 2020-03-26        727     20       45.0
India     NaN  21.0  78.0 2020-03-27        887     20       73.0
India     NaN  21.0  78.0 2020-03-28        987     24       84.0
India     NaN  21.0  78.0 2020-03-29       1024     27       95.0
India     NaN  21.0  78.0 2020-03-30       1251     32      102.0

[69 rows x 7 columns]

In [14]:
combined_df[combined_df.State.isnull()]['Country'].value_counts()

Cyprus                              69
Peru                                69
Japan                               69
Uzbekistan                          69
Albania                             69
Barbados                            69
Guinea                              69
Paraguay                            69
Saint Vincent and the Grenadines    69
Hungary                             69
Belarus                             69
Libya                               69
Senegal                             69
Philippines                         69
Ethiopia                            69
Cabo Verde                          69
Latvia                              69
Sri Lanka                           69
Grenada                             69
Nicaragua                           69
Uganda                              69
Mauritania                          69
Rwanda                              69
Slovakia                            69
Dominican Republic                  69
Honduras                            69
Kosovo                              69
Georgia                             69
Norway                              69
Burma                               69
                                    ..
Algeria                             69
Greece                              69
United Arab Emirates                69
West Bank and Gaza                  69
Monaco                              69
Iraq                                69
Belize                              69
Bulgaria                            69
Romania                             69
Suriname                            69
Namibia                             69
Moldova                             69
Denmark                             69
San Marino                          69
Belgium                             69
Mali                                69
Spain                               69
Vietnam                             69
MS Zaandam                          69
Gambia                              69
Costa Rica                          69
Turkey                              69
Tanzania                            69
Czechia                             69
Morocco                             69
Switzerland                         69
Russia                              69
Poland                              69
Brazil                              69
Italy                               69
Name: Country, Length: 175, dtype: int64

In [15]:
import googlemaps
googleapikey='XXXXXXXXXXXXXXXXXXX'
gmaps = googlemaps.Client(googleapikey)
geocode_result = gmaps.reverse_geocode((-23.4425, -58.4438))
print(geocode_result[0])
print(geocode_result[0]['formatted_address'])
print(geocode_result[0]['formatted_address'].split(",")[-2].strip(" "))

{'address_components': [{'long_name': 'Pozo Colorado', 'short_name': 'Pozo Colorado', 'types': ['neighborhood', 'political']}, {'long_name': 'Villa Hayes', 'short_name': 'Villa Hayes', 'types': ['locality', 'political']}, {'long_name': 'Villa Hayes', 'short_name': 'Villa Hayes', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Presidente Hayes', 'short_name': 'Presidente Hayes', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Paraguay', 'short_name': 'PY', 'types': ['country', 'political']}], 'formatted_address': 'Pozo Colorado, Villa Hayes, Paraguay', 'geometry': {'bounds': {'northeast': {'lat': -23.2437722, 'lng': -58.1943502}, 'southwest': {'lat': -23.5721188, 'lng': -59.4172115}}, 'location': {'lat': -23.4165497, 'lng': -58.7237247}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': -23.2437722, 'lng': -58.1943502}, 'southwest': {'lat': -23.5721188, 'lng': -59.4172115}}}, 'place_id': 'ChIJkz1C4V8-b5QRWvirxOPZZco', 'types': ['neighborhood', 'political']}
Pozo Colorado, Villa Hayes, Paraguay
Villa Hayes

In [16]:
import re

english_check = re.compile(r'[a-z]')

def get_state(lat, longi):
  try:
    output=gmaps.reverse_geocode((lat, longi))[0]['formatted_address'].split(",")[-2].strip()
    if(len(output.split(" ")) > 1):
      output="TBF"

    if not english_check.match(output.lower()):
      output="TBF"
    
  except:
    print("Error in Reverse Geocoding")
    output="TBF"
  return output

In [17]:
combined_df["state_cleaned"]=combined_df[combined_df.State.isnull()][['Lat','Long']].apply(lambda x : get_state(x['Lat'], x['Long']),axis=1)

Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding

Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding

Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding
Error in Reverse Geocoding

In [18]:
combined_df[combined_df.state_cleaned.isnull()]['Country'].value_counts()

China             2277
Canada            1035
United Kingdom     621
France             621
Australia          552
Netherlands        207
Denmark            138
Name: Country, dtype: int64

In [19]:
combined_int_df = combined_df.copy()

In [20]:
combined_df[combined_df.state_cleaned.notna()]

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned
0,NaN,Afghanistan,33.000000,65.000000,2020-01-22,0,0,0.0,Baghran
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0.0,E852
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0.0,Timokten
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0.0,TBF
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0.0,Sautari
5,NaN,Antigua and Barbuda,17.060800,-61.796400,2020-01-22,0,0,0.0,TBF
6,NaN,Argentina,-38.416100,-63.616700,2020-01-22,0,0,0.0,TBF
7,NaN,Armenia,40.069100,45.038200,2020-01-22,0,0,0.0,TBF
16,NaN,Austria,47.516200,14.550100,2020-01-22,0,0,0.0,TBF
17,NaN,Azerbaijan,40.143100,47.576900,2020-01-22,0,0,0.0,Agjabadi
18,NaN,Bahamas,25.034300,-77.396300,2020-01-22,0,0,0.0,Nassau
19,NaN,Bahrain,26.027500,50.550000,2020-01-22,0,0,0.0,TBF
20,NaN,Bangladesh,23.685000,90.356300,2020-01-22,0,0,0.0,TBF
21,NaN,Barbados,13.193900,-59.543200,2020-01-22,0,0,0.0,TBF
22,NaN,Belarus,53.709800,27.953400,2020-01-22,0,0,0.0,TBF
23,NaN,Belgium,50.833300,4.000000,2020-01-22,0,0,0.0,TBF
24,NaN,Benin,9.307700,2.315800,2020-01-22,0,0,0.0,TBF
25,NaN,Bhutan,27.514200,90.433600,2020-01-22,0,0,0.0,Trongsa
26,NaN,Bolivia,-16.290200,-63.588700,2020-01-22,0,0,0.0,TBF
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,2020-01-22,0,0,0.0,TBF
28,NaN,Brazil,-14.235000,-51.925300,2020-01-22,0,0,0.0,TBF
29,NaN,Brunei,4.535300,114.727700,2020-01-22,0,0,0.0,Rambai
30,NaN,Bulgaria,42.733900,25.485800,2020-01-22,0,0,0.0,TBF
31,NaN,Burkina Faso,12.238300,-1.561600,2020-01-22,0,0,0.0,Kadiogo
32,NaN,Cabo Verde,16.538800,-23.041800,2020-01-22,0,0,0.0,TBF
33,NaN,Cambodia,11.550000,104.916700,2020-01-22,0,0,0.0,TBF
34,NaN,Cameroon,3.848000,11.502100,2020-01-22,0,0,0.0,Yaounde
46,NaN,Central African Republic,6.611100,20.939400,2020-01-22,0,0,0.0,Ippy
47,NaN,Chad,15.454200,18.732200,2020-01-22,0,0,0.0,Borkou
48,NaN,Chile,-35.675100,-71.543000,2020-01-22,0,0,0.0,Maule
...,...,...,...,...,...,...,...,...,...
17483,NaN,Trinidad and Tobago,10.691800,-61.222500,2020-03-30,82,3,1.0,TBF
17484,NaN,Tunisia,34.000000,9.000000,2020-03-30,312,8,3.0,TBF
17485,NaN,Turkey,38.963700,35.243300,2020-03-30,10827,168,162.0,TBF
17486,NaN,Uganda,1.000000,32.000000,2020-03-30,33,0,0.0,Kiboga
17487,NaN,Ukraine,48.379400,31.165600,2020-03-30,548,13,8.0,TBF
17488,NaN,United Arab Emirates,24.000000,54.000000,2020-03-30,611,5,61.0,TBF
17495,NaN,United Kingdom,55.378100,-3.436000,2020-03-30,22141,1408,135.0,TBF
17496,NaN,Uruguay,-32.522800,-55.765800,2020-03-30,310,1,0.0,TBF
17497,NaN,US,37.090200,-95.712900,2020-03-30,161807,2978,5644.0,TBF
17498,NaN,Uzbekistan,41.377500,64.585300,2020-03-30,149,2,7.0,TBF
17499,NaN,Venezuela,6.423800,-66.589700,2020-03-30,135,3,39.0,BolÃ­var
17500,NaN,Vietnam,16.000000,108.000000,2020-03-30,203,0,55.0,TBF
17501,NaN,Zambia,-15.416700,28.283300,2020-03-30,35,0,0.0,Lusaka
17502,NaN,Zimbabwe,-20.000000,30.000000,2020-03-30,7,1,0.0,TBF
17504,NaN,Dominica,15.415000,-61.371000,2020-03-30,11,0,0.0,TBF
17505,NaN,Grenada,12.116500,-61.679000,2020-03-30,9,0,0.0,TBF
17506,NaN,Mozambique,-18.665695,35.529562,2020-03-30,8,0,NaN,Cheringoma
17507,NaN,Syria,34.802075,38.996815,2020-03-30,10,2,NaN,TBF
17508,NaN,Timor-Leste,-8.874217,125.727539,2020-03-30,1,0,NaN,Manufahi
17509,NaN,Belize,13.193900,-59.543200,2020-03-30,3,0,0.0,TBF
17511,NaN,Laos,19.856270,102.495496,2020-03-30,8,0,0.0,TBF
17512,NaN,Libya,26.335100,17.228331,2020-03-30,8,0,0.0,TBF
17513,NaN,West Bank and Gaza,31.952200,35.233200,2020-03-30,116,1,18.0,TBF
17514,NaN,Guinea-Bissau,11.803700,-15.180400,2020-03-30,8,0,0.0,Fulacunda
17515,NaN,Mali,17.570692,-3.996166,2020-03-30,25,2,0.0,Goundam
17516,NaN,Saint Kitts and Nevis,17.357822,-62.782998,2020-03-30,7,0,0.0,TBF
17519,NaN,Kosovo,42.602636,20.902977,2020-03-30,94,1,1.0,TBF
17520,NaN,Burma,21.916200,95.956000,2020-03-30,14,0,0.0,Sagang
17524,NaN,MS Zaandam,0.000000,0.000000,2020-03-30,2,0,0.0,TBF
17525,NaN,Botswana,-22.328500,24.684900,2020-03-30,3,0,0.0,CKGR

In [21]:
combined_int_df.count()

State             5451
Country          17526
Lat              17526
Long             17526
Date             17526
Confirmed        17526
Death            17526
Recovered        16284
state_cleaned    12075
dtype: int64

In [22]:
combined_int_df[combined_int_df.State.notna()]

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned
8,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0,0,0.0,NaN
9,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0,0,0.0,NaN
10,Northern Territory,Australia,-12.4634,130.8456,2020-01-22,0,0,0.0,NaN
11,Queensland,Australia,-28.0167,153.4000,2020-01-22,0,0,0.0,NaN
12,South Australia,Australia,-34.9285,138.6007,2020-01-22,0,0,0.0,NaN
13,Tasmania,Australia,-41.4545,145.9707,2020-01-22,0,0,0.0,NaN
14,Victoria,Australia,-37.8136,144.9631,2020-01-22,0,0,0.0,NaN
15,Western Australia,Australia,-31.9505,115.8605,2020-01-22,0,0,0.0,NaN
35,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0,NaN,NaN
36,British Columbia,Canada,49.2827,-123.1207,2020-01-22,0,0,NaN,NaN
37,Grand Princess,Canada,37.6489,-122.6655,2020-01-22,0,0,NaN,NaN
38,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0,NaN,NaN
39,New Brunswick,Canada,46.5653,-66.4619,2020-01-22,0,0,NaN,NaN
40,Newfoundland and Labrador,Canada,53.1355,-57.6604,2020-01-22,0,0,NaN,NaN
41,Nova Scotia,Canada,44.6820,-63.7443,2020-01-22,0,0,NaN,NaN
42,Ontario,Canada,51.2538,-85.3232,2020-01-22,0,0,NaN,NaN
43,Prince Edward Island,Canada,46.5107,-63.4168,2020-01-22,0,0,NaN,NaN
44,Quebec,Canada,52.9399,-73.5491,2020-01-22,0,0,NaN,NaN
45,Saskatchewan,Canada,52.9399,-106.4509,2020-01-22,0,0,NaN,NaN
49,Anhui,China,31.8257,117.2264,2020-01-22,1,0,0.0,NaN
50,Beijing,China,40.1824,116.4142,2020-01-22,14,0,0.0,NaN
51,Chongqing,China,30.0572,107.8740,2020-01-22,6,0,0.0,NaN
52,Fujian,China,26.0789,117.9874,2020-01-22,1,0,0.0,NaN
53,Gansu,China,37.8099,101.0583,2020-01-22,0,0,0.0,NaN
54,Guangdong,China,23.3417,113.4244,2020-01-22,26,0,0.0,NaN
55,Guangxi,China,23.8298,108.7881,2020-01-22,2,0,0.0,NaN
56,Guizhou,China,26.8154,106.8748,2020-01-22,1,0,0.0,NaN
57,Hainan,China,19.1959,109.7453,2020-01-22,4,0,0.0,NaN
58,Hebei,China,39.5490,116.1306,2020-01-22,1,0,0.0,NaN
59,Heilongjiang,China,47.8620,127.7615,2020-01-22,0,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
17351,Xinjiang,China,41.1129,85.2401,2020-03-30,76,3,73.0,NaN
17352,Yunnan,China,24.9740,101.4870,2020-03-30,180,2,172.0,NaN
17353,Zhejiang,China,29.1832,120.0934,2020-03-30,1255,1,1225.0,NaN
17364,Faroe Islands,Denmark,61.8926,-6.9118,2020-03-30,168,0,70.0,NaN
17365,Greenland,Denmark,71.7069,-42.6043,2020-03-30,10,0,2.0,NaN
17379,French Guiana,France,3.9339,-53.1258,2020-03-30,43,0,6.0,NaN
17380,French Polynesia,France,-17.6797,149.4068,2020-03-30,36,0,0.0,NaN
17381,Guadeloupe,France,16.2500,-61.5833,2020-03-30,106,4,17.0,NaN
17382,Mayotte,France,-12.8275,45.1662,2020-03-30,82,0,10.0,NaN
17383,New Caledonia,France,-20.9043,165.6180,2020-03-30,15,0,0.0,NaN
17384,Reunion,France,-21.1351,55.2471,2020-03-30,224,0,1.0,NaN
17385,Saint Barthelemy,France,17.9000,-62.8333,2020-03-30,6,0,1.0,NaN
17386,St Martin,France,18.0708,-63.0501,2020-03-30,15,1,2.0,NaN
17387,Martinique,France,14.6415,-61.0242,2020-03-30,93,1,0.0,NaN
17438,Aruba,Netherlands,12.5186,-70.0358,2020-03-30,50,0,1.0,NaN
17439,Curacao,Netherlands,12.1696,-68.9900,2020-03-30,11,1,2.0,NaN
17440,Sint Maarten,Netherlands,18.0425,-63.0548,2020-03-30,6,0,0.0,NaN
17489,Bermuda,United Kingdom,32.3078,-64.7505,2020-03-30,27,0,2.0,NaN
17490,Cayman Islands,United Kingdom,19.3133,-81.2546,2020-03-30,12,1,0.0,NaN
17491,Channel Islands,United Kingdom,49.3723,-2.3644,2020-03-30,141,2,0.0,NaN
17492,Gibraltar,United Kingdom,36.1408,-5.3536,2020-03-30,69,0,34.0,NaN
17493,Isle of Man,United Kingdom,54.2361,-4.5481,2020-03-30,49,0,0.0,NaN
17494,Montserrat,United Kingdom,16.7425,-62.1874,2020-03-30,5,0,0.0,NaN
17503,Diamond Princess,Canada,0.0000,0.0000,2020-03-30,0,1,NaN,NaN
17510,Recovered,Canada,0.0000,0.0000,2020-03-30,0,0,NaN,NaN
17517,Northwest Territories,Canada,64.8255,-124.8457,2020-03-30,1,0,NaN,NaN
17518,Yukon,Canada,64.2823,-135.0000,2020-03-30,4,0,NaN,NaN
17521,Anguilla,United Kingdom,18.2206,-63.0686,2020-03-30,2,0,0.0,NaN
17522,British Virgin Islands,United Kingdom,18.4207,-64.6400,2020-03-30,2,0,0.0,NaN
17523,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,2020-03-30,5,0,0.0,NaN

In [23]:
combined_int_df[combined_int_df.State.notna()]["State"].count()

5451

In [24]:
import numpy
combined_int_df["state_cleaned"]=combined_int_df.apply(lambda x: x['State'] if (numpy.all(pd.notnull(x['State']))) else x['state_cleaned'], axis=1)

In [25]:
combined_int_df[combined_int_df.State.notna()]

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned
8,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0,0,0.0,Australian Capital Territory
9,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0,0,0.0,New South Wales
10,Northern Territory,Australia,-12.4634,130.8456,2020-01-22,0,0,0.0,Northern Territory
11,Queensland,Australia,-28.0167,153.4000,2020-01-22,0,0,0.0,Queensland
12,South Australia,Australia,-34.9285,138.6007,2020-01-22,0,0,0.0,South Australia
13,Tasmania,Australia,-41.4545,145.9707,2020-01-22,0,0,0.0,Tasmania
14,Victoria,Australia,-37.8136,144.9631,2020-01-22,0,0,0.0,Victoria
15,Western Australia,Australia,-31.9505,115.8605,2020-01-22,0,0,0.0,Western Australia
35,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0,NaN,Alberta
36,British Columbia,Canada,49.2827,-123.1207,2020-01-22,0,0,NaN,British Columbia
37,Grand Princess,Canada,37.6489,-122.6655,2020-01-22,0,0,NaN,Grand Princess
38,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0,NaN,Manitoba
39,New Brunswick,Canada,46.5653,-66.4619,2020-01-22,0,0,NaN,New Brunswick
40,Newfoundland and Labrador,Canada,53.1355,-57.6604,2020-01-22,0,0,NaN,Newfoundland and Labrador
41,Nova Scotia,Canada,44.6820,-63.7443,2020-01-22,0,0,NaN,Nova Scotia
42,Ontario,Canada,51.2538,-85.3232,2020-01-22,0,0,NaN,Ontario
43,Prince Edward Island,Canada,46.5107,-63.4168,2020-01-22,0,0,NaN,Prince Edward Island
44,Quebec,Canada,52.9399,-73.5491,2020-01-22,0,0,NaN,Quebec
45,Saskatchewan,Canada,52.9399,-106.4509,2020-01-22,0,0,NaN,Saskatchewan
49,Anhui,China,31.8257,117.2264,2020-01-22,1,0,0.0,Anhui
50,Beijing,China,40.1824,116.4142,2020-01-22,14,0,0.0,Beijing
51,Chongqing,China,30.0572,107.8740,2020-01-22,6,0,0.0,Chongqing
52,Fujian,China,26.0789,117.9874,2020-01-22,1,0,0.0,Fujian
53,Gansu,China,37.8099,101.0583,2020-01-22,0,0,0.0,Gansu
54,Guangdong,China,23.3417,113.4244,2020-01-22,26,0,0.0,Guangdong
55,Guangxi,China,23.8298,108.7881,2020-01-22,2,0,0.0,Guangxi
56,Guizhou,China,26.8154,106.8748,2020-01-22,1,0,0.0,Guizhou
57,Hainan,China,19.1959,109.7453,2020-01-22,4,0,0.0,Hainan
58,Hebei,China,39.5490,116.1306,2020-01-22,1,0,0.0,Hebei
59,Heilongjiang,China,47.8620,127.7615,2020-01-22,0,0,0.0,Heilongjiang
...,...,...,...,...,...,...,...,...,...
17351,Xinjiang,China,41.1129,85.2401,2020-03-30,76,3,73.0,Xinjiang
17352,Yunnan,China,24.9740,101.4870,2020-03-30,180,2,172.0,Yunnan
17353,Zhejiang,China,29.1832,120.0934,2020-03-30,1255,1,1225.0,Zhejiang
17364,Faroe Islands,Denmark,61.8926,-6.9118,2020-03-30,168,0,70.0,Faroe Islands
17365,Greenland,Denmark,71.7069,-42.6043,2020-03-30,10,0,2.0,Greenland
17379,French Guiana,France,3.9339,-53.1258,2020-03-30,43,0,6.0,French Guiana
17380,French Polynesia,France,-17.6797,149.4068,2020-03-30,36,0,0.0,French Polynesia
17381,Guadeloupe,France,16.2500,-61.5833,2020-03-30,106,4,17.0,Guadeloupe
17382,Mayotte,France,-12.8275,45.1662,2020-03-30,82,0,10.0,Mayotte
17383,New Caledonia,France,-20.9043,165.6180,2020-03-30,15,0,0.0,New Caledonia
17384,Reunion,France,-21.1351,55.2471,2020-03-30,224,0,1.0,Reunion
17385,Saint Barthelemy,France,17.9000,-62.8333,2020-03-30,6,0,1.0,Saint Barthelemy
17386,St Martin,France,18.0708,-63.0501,2020-03-30,15,1,2.0,St Martin
17387,Martinique,France,14.6415,-61.0242,2020-03-30,93,1,0.0,Martinique
17438,Aruba,Netherlands,12.5186,-70.0358,2020-03-30,50,0,1.0,Aruba
17439,Curacao,Netherlands,12.1696,-68.9900,2020-03-30,11,1,2.0,Curacao
17440,Sint Maarten,Netherlands,18.0425,-63.0548,2020-03-30,6,0,0.0,Sint Maarten
17489,Bermuda,United Kingdom,32.3078,-64.7505,2020-03-30,27,0,2.0,Bermuda
17490,Cayman Islands,United Kingdom,19.3133,-81.2546,2020-03-30,12,1,0.0,Cayman Islands
17491,Channel Islands,United Kingdom,49.3723,-2.3644,2020-03-30,141,2,0.0,Channel Islands
17492,Gibraltar,United Kingdom,36.1408,-5.3536,2020-03-30,69,0,34.0,Gibraltar
17493,Isle of Man,United Kingdom,54.2361,-4.5481,2020-03-30,49,0,0.0,Isle of Man
17494,Montserrat,United Kingdom,16.7425,-62.1874,2020-03-30,5,0,0.0,Montserrat
17503,Diamond Princess,Canada,0.0000,0.0000,2020-03-30,0,1,NaN,Diamond Princess
17510,Recovered,Canada,0.0000,0.0000,2020-03-30,0,0,NaN,Recovered
17517,Northwest Territories,Canada,64.8255,-124.8457,2020-03-30,1,0,NaN,Northwest Territories
17518,Yukon,Canada,64.2823,-135.0000,2020-03-30,4,0,NaN,Yukon
17521,Anguilla,United Kingdom,18.2206,-63.0686,2020-03-30,2,0,0.0,Anguilla
17522,British Virgin Islands,United Kingdom,18.4207,-64.6400,2020-03-30,2,0,0.0,British Virgin Islands
17523,Turks and Caicos Islands,United Kingdom,21.6940,-71.7979,2020-03-30,5,0,0.0,Turks and Caicos Islands

In [26]:
combined_int_df[combined_df.state_cleaned=="TBF"]

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0.0,TBF
5,NaN,Antigua and Barbuda,17.060800,-61.796400,2020-01-22,0,0,0.0,TBF
6,NaN,Argentina,-38.416100,-63.616700,2020-01-22,0,0,0.0,TBF
7,NaN,Armenia,40.069100,45.038200,2020-01-22,0,0,0.0,TBF
16,NaN,Austria,47.516200,14.550100,2020-01-22,0,0,0.0,TBF
19,NaN,Bahrain,26.027500,50.550000,2020-01-22,0,0,0.0,TBF
20,NaN,Bangladesh,23.685000,90.356300,2020-01-22,0,0,0.0,TBF
21,NaN,Barbados,13.193900,-59.543200,2020-01-22,0,0,0.0,TBF
22,NaN,Belarus,53.709800,27.953400,2020-01-22,0,0,0.0,TBF
23,NaN,Belgium,50.833300,4.000000,2020-01-22,0,0,0.0,TBF
24,NaN,Benin,9.307700,2.315800,2020-01-22,0,0,0.0,TBF
26,NaN,Bolivia,-16.290200,-63.588700,2020-01-22,0,0,0.0,TBF
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,2020-01-22,0,0,0.0,TBF
28,NaN,Brazil,-14.235000,-51.925300,2020-01-22,0,0,0.0,TBF
30,NaN,Bulgaria,42.733900,25.485800,2020-01-22,0,0,0.0,TBF
32,NaN,Cabo Verde,16.538800,-23.041800,2020-01-22,0,0,0.0,TBF
33,NaN,Cambodia,11.550000,104.916700,2020-01-22,0,0,0.0,TBF
85,NaN,Costa Rica,9.748900,-83.753400,2020-01-22,0,0,0.0,TBF
86,NaN,Cote d'Ivoire,7.540000,-5.547100,2020-01-22,0,0,0.0,TBF
88,NaN,Diamond Princess,0.000000,0.000000,2020-01-22,0,0,0.0,TBF
89,NaN,Cuba,22.000000,-80.000000,2020-01-22,0,0,0.0,TBF
90,NaN,Cyprus,35.126400,33.429900,2020-01-22,0,0,0.0,TBF
91,NaN,Czechia,49.817500,15.473000,2020-01-22,0,0,0.0,TBF
94,NaN,Denmark,56.263900,9.501800,2020-01-22,0,0,0.0,TBF
95,NaN,Djibouti,11.825100,42.590300,2020-01-22,0,0,0.0,TBF
97,NaN,Ecuador,-1.831200,-78.183400,2020-01-22,0,0,0.0,TBF
98,NaN,Egypt,26.000000,30.000000,2020-01-22,0,0,0.0,TBF
99,NaN,El Salvador,13.794200,-88.896500,2020-01-22,0,0,0.0,TBF
101,NaN,Eritrea,15.179400,39.782300,2020-01-22,0,0,0.0,TBF
102,NaN,Estonia,58.595300,25.013600,2020-01-22,0,0,0.0,TBF
...,...,...,...,...,...,...,...,...,...
17464,NaN,Saudi Arabia,24.000000,45.000000,2020-03-30,1453,8,115.0,TBF
17468,NaN,Singapore,1.283300,103.833300,2020-03-30,879,3,228.0,TBF
17469,NaN,Slovakia,48.669000,19.699000,2020-03-30,336,0,7.0,TBF
17470,NaN,Slovenia,46.151200,14.995500,2020-03-30,756,11,10.0,TBF
17472,NaN,South Africa,-30.559500,22.937500,2020-03-30,1326,3,31.0,TBF
17474,NaN,Sri Lanka,7.000000,81.000000,2020-03-30,122,2,15.0,TBF
17477,NaN,Sweden,63.000000,16.000000,2020-03-30,4028,146,16.0,TBF
17478,NaN,Switzerland,46.818200,8.227500,2020-03-30,15922,359,1823.0,TBF
17481,NaN,Thailand,15.000000,101.000000,2020-03-30,1524,9,229.0,TBF
17483,NaN,Trinidad and Tobago,10.691800,-61.222500,2020-03-30,82,3,1.0,TBF
17484,NaN,Tunisia,34.000000,9.000000,2020-03-30,312,8,3.0,TBF
17485,NaN,Turkey,38.963700,35.243300,2020-03-30,10827,168,162.0,TBF
17487,NaN,Ukraine,48.379400,31.165600,2020-03-30,548,13,8.0,TBF
17488,NaN,United Arab Emirates,24.000000,54.000000,2020-03-30,611,5,61.0,TBF
17495,NaN,United Kingdom,55.378100,-3.436000,2020-03-30,22141,1408,135.0,TBF
17496,NaN,Uruguay,-32.522800,-55.765800,2020-03-30,310,1,0.0,TBF
17497,NaN,US,37.090200,-95.712900,2020-03-30,161807,2978,5644.0,TBF
17498,NaN,Uzbekistan,41.377500,64.585300,2020-03-30,149,2,7.0,TBF
17500,NaN,Vietnam,16.000000,108.000000,2020-03-30,203,0,55.0,TBF
17502,NaN,Zimbabwe,-20.000000,30.000000,2020-03-30,7,1,0.0,TBF
17504,NaN,Dominica,15.415000,-61.371000,2020-03-30,11,0,0.0,TBF
17505,NaN,Grenada,12.116500,-61.679000,2020-03-30,9,0,0.0,TBF
17507,NaN,Syria,34.802075,38.996815,2020-03-30,10,2,NaN,TBF
17509,NaN,Belize,13.193900,-59.543200,2020-03-30,3,0,0.0,TBF
17511,NaN,Laos,19.856270,102.495496,2020-03-30,8,0,0.0,TBF
17512,NaN,Libya,26.335100,17.228331,2020-03-30,8,0,0.0,TBF
17513,NaN,West Bank and Gaza,31.952200,35.233200,2020-03-30,116,1,18.0,TBF
17516,NaN,Saint Kitts and Nevis,17.357822,-62.782998,2020-03-30,7,0,0.0,TBF
17519,NaN,Kosovo,42.602636,20.902977,2020-03-30,94,1,1.0,TBF
17524,NaN,MS Zaandam,0.000000,0.000000,2020-03-30,2,0,0.0,TBF

In [27]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Cyprus                              69
Liechtenstein                       69
Bosnia and Herzegovina              69
Ireland                             69
Bulgaria                            69
Iran                                69
Costa Rica                          69
Nigeria                             69
Brazil                              69
Poland                              69
Guyana                              69
Switzerland                         69
Morocco                             69
Syria                               69
Czechia                             69
Trinidad and Tobago                 69
Germany                             69
Turkey                              69
US                                  69
Indonesia                           69
Sweden                              69
Gambia                              69
Namibia                             69
MS Zaandam                          69
Vietnam                             69
Thailand                            69
India                               69
Lithuania                           69
Finland                             69
Italy                               69
                                    ..
South Africa                        69
Slovakia                            69
New Zealand                         69
Armenia                             69
Saint Kitts and Nevis               69
Cambodia                            69
Ethiopia                            69
Rwanda                              69
Grenada                             69
Belgium                             69
Sri Lanka                           69
Cabo Verde                          69
Denmark                             69
Moldova                             69
Egypt                               69
Estonia                             69
Bahrain                             69
Cuba                                69
Cote d'Ivoire                       69
Philippines                         69
Jordan                              69
Belarus                             69
Antigua and Barbuda                 69
Saint Vincent and the Grenadines    69
Paraguay                            69
Guinea                              69
Barbados                            69
Andorra                             69
Libya                               69
Eswatini                            69
Name: Country, Length: 105, dtype: int64

In [28]:
combined_int_df.head(50)

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0.0,Baghran
1,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0.0,E852
2,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0.0,Timokten
3,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0.0,TBF
4,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0.0,Sautari
5,NaN,Antigua and Barbuda,17.0608,-61.7964,2020-01-22,0,0,0.0,TBF
6,NaN,Argentina,-38.4161,-63.6167,2020-01-22,0,0,0.0,TBF
7,NaN,Armenia,40.0691,45.0382,2020-01-22,0,0,0.0,TBF
8,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0,0,0.0,Australian Capital Territory
9,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0,0,0.0,New South Wales
10,Northern Territory,Australia,-12.4634,130.8456,2020-01-22,0,0,0.0,Northern Territory
11,Queensland,Australia,-28.0167,153.4000,2020-01-22,0,0,0.0,Queensland
12,South Australia,Australia,-34.9285,138.6007,2020-01-22,0,0,0.0,South Australia
13,Tasmania,Australia,-41.4545,145.9707,2020-01-22,0,0,0.0,Tasmania
14,Victoria,Australia,-37.8136,144.9631,2020-01-22,0,0,0.0,Victoria
15,Western Australia,Australia,-31.9505,115.8605,2020-01-22,0,0,0.0,Western Australia
16,NaN,Austria,47.5162,14.5501,2020-01-22,0,0,0.0,TBF
17,NaN,Azerbaijan,40.1431,47.5769,2020-01-22,0,0,0.0,Agjabadi
18,NaN,Bahamas,25.0343,-77.3963,2020-01-22,0,0,0.0,Nassau
19,NaN,Bahrain,26.0275,50.5500,2020-01-22,0,0,0.0,TBF
20,NaN,Bangladesh,23.6850,90.3563,2020-01-22,0,0,0.0,TBF
21,NaN,Barbados,13.1939,-59.5432,2020-01-22,0,0,0.0,TBF
22,NaN,Belarus,53.7098,27.9534,2020-01-22,0,0,0.0,TBF
23,NaN,Belgium,50.8333,4.0000,2020-01-22,0,0,0.0,TBF
24,NaN,Benin,9.3077,2.3158,2020-01-22,0,0,0.0,TBF
25,NaN,Bhutan,27.5142,90.4336,2020-01-22,0,0,0.0,Trongsa
26,NaN,Bolivia,-16.2902,-63.5887,2020-01-22,0,0,0.0,TBF
27,NaN,Bosnia and Herzegovina,43.9159,17.6791,2020-01-22,0,0,0.0,TBF
28,NaN,Brazil,-14.2350,-51.9253,2020-01-22,0,0,0.0,TBF
29,NaN,Brunei,4.5353,114.7277,2020-01-22,0,0,0.0,Rambai
30,NaN,Bulgaria,42.7339,25.4858,2020-01-22,0,0,0.0,TBF
31,NaN,Burkina Faso,12.2383,-1.5616,2020-01-22,0,0,0.0,Kadiogo
32,NaN,Cabo Verde,16.5388,-23.0418,2020-01-22,0,0,0.0,TBF
33,NaN,Cambodia,11.5500,104.9167,2020-01-22,0,0,0.0,TBF
34,NaN,Cameroon,3.8480,11.5021,2020-01-22,0,0,0.0,Yaounde
35,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0,NaN,Alberta
36,British Columbia,Canada,49.2827,-123.1207,2020-01-22,0,0,NaN,British Columbia
37,Grand Princess,Canada,37.6489,-122.6655,2020-01-22,0,0,NaN,Grand Princess
38,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0,NaN,Manitoba
39,New Brunswick,Canada,46.5653,-66.4619,2020-01-22,0,0,NaN,New Brunswick
40,Newfoundland and Labrador,Canada,53.1355,-57.6604,2020-01-22,0,0,NaN,Newfoundland and Labrador
41,Nova Scotia,Canada,44.6820,-63.7443,2020-01-22,0,0,NaN,Nova Scotia
42,Ontario,Canada,51.2538,-85.3232,2020-01-22,0,0,NaN,Ontario
43,Prince Edward Island,Canada,46.5107,-63.4168,2020-01-22,0,0,NaN,Prince Edward Island
44,Quebec,Canada,52.9399,-73.5491,2020-01-22,0,0,NaN,Quebec
45,Saskatchewan,Canada,52.9399,-106.4509,2020-01-22,0,0,NaN,Saskatchewan
46,NaN,Central African Republic,6.6111,20.9394,2020-01-22,0,0,0.0,Ippy
47,NaN,Chad,15.4542,18.7322,2020-01-22,0,0,0.0,Borkou
48,NaN,Chile,-35.6751,-71.5430,2020-01-22,0,0,0.0,Maule
49,Anhui,China,31.8257,117.2264,2020-01-22,1,0,0.0,Anhui

In [29]:
capital_df = pd.read_csv('https://raw.githubusercontent.com/icyrockcom/country-capitals/master/data/country-list.csv')
capital_df.head()

                 country              capital            type
0               Abkhazia              Sukhumi  countryCapital
1            Afghanistan                Kabul  countryCapital
2  Akrotiri and Dhekelia  Episkopi Cantonment  countryCapital
3                Albania               Tirana  countryCapital
4                Algeria              Algiers  countryCapital

In [30]:
capital_df['country'].replace({"United Kingdom; England": "United Kingdom"}, inplace=True)

In [31]:
capital_df['country']=capital_df.country.str.lower()

In [32]:
capital_df.head()

                 country              capital            type
0               abkhazia              Sukhumi  countryCapital
1            afghanistan                Kabul  countryCapital
2  akrotiri and dhekelia  Episkopi Cantonment  countryCapital
3                albania               Tirana  countryCapital
4                algeria              Algiers  countryCapital

In [33]:
capital_df=capital_df.set_index('country')

In [34]:
capital_df.loc['algeria'][0]

'Algiers'

In [35]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0.0,TBF
5,NaN,Antigua and Barbuda,17.060800,-61.796400,2020-01-22,0,0,0.0,TBF
6,NaN,Argentina,-38.416100,-63.616700,2020-01-22,0,0,0.0,TBF
7,NaN,Armenia,40.069100,45.038200,2020-01-22,0,0,0.0,TBF
16,NaN,Austria,47.516200,14.550100,2020-01-22,0,0,0.0,TBF
19,NaN,Bahrain,26.027500,50.550000,2020-01-22,0,0,0.0,TBF
20,NaN,Bangladesh,23.685000,90.356300,2020-01-22,0,0,0.0,TBF
21,NaN,Barbados,13.193900,-59.543200,2020-01-22,0,0,0.0,TBF
22,NaN,Belarus,53.709800,27.953400,2020-01-22,0,0,0.0,TBF
23,NaN,Belgium,50.833300,4.000000,2020-01-22,0,0,0.0,TBF
24,NaN,Benin,9.307700,2.315800,2020-01-22,0,0,0.0,TBF
26,NaN,Bolivia,-16.290200,-63.588700,2020-01-22,0,0,0.0,TBF
27,NaN,Bosnia and Herzegovina,43.915900,17.679100,2020-01-22,0,0,0.0,TBF
28,NaN,Brazil,-14.235000,-51.925300,2020-01-22,0,0,0.0,TBF
30,NaN,Bulgaria,42.733900,25.485800,2020-01-22,0,0,0.0,TBF
32,NaN,Cabo Verde,16.538800,-23.041800,2020-01-22,0,0,0.0,TBF
33,NaN,Cambodia,11.550000,104.916700,2020-01-22,0,0,0.0,TBF
85,NaN,Costa Rica,9.748900,-83.753400,2020-01-22,0,0,0.0,TBF
86,NaN,Cote d'Ivoire,7.540000,-5.547100,2020-01-22,0,0,0.0,TBF
88,NaN,Diamond Princess,0.000000,0.000000,2020-01-22,0,0,0.0,TBF
89,NaN,Cuba,22.000000,-80.000000,2020-01-22,0,0,0.0,TBF
90,NaN,Cyprus,35.126400,33.429900,2020-01-22,0,0,0.0,TBF
91,NaN,Czechia,49.817500,15.473000,2020-01-22,0,0,0.0,TBF
94,NaN,Denmark,56.263900,9.501800,2020-01-22,0,0,0.0,TBF
95,NaN,Djibouti,11.825100,42.590300,2020-01-22,0,0,0.0,TBF
97,NaN,Ecuador,-1.831200,-78.183400,2020-01-22,0,0,0.0,TBF
98,NaN,Egypt,26.000000,30.000000,2020-01-22,0,0,0.0,TBF
99,NaN,El Salvador,13.794200,-88.896500,2020-01-22,0,0,0.0,TBF
101,NaN,Eritrea,15.179400,39.782300,2020-01-22,0,0,0.0,TBF
102,NaN,Estonia,58.595300,25.013600,2020-01-22,0,0,0.0,TBF
...,...,...,...,...,...,...,...,...,...
17464,NaN,Saudi Arabia,24.000000,45.000000,2020-03-30,1453,8,115.0,TBF
17468,NaN,Singapore,1.283300,103.833300,2020-03-30,879,3,228.0,TBF
17469,NaN,Slovakia,48.669000,19.699000,2020-03-30,336,0,7.0,TBF
17470,NaN,Slovenia,46.151200,14.995500,2020-03-30,756,11,10.0,TBF
17472,NaN,South Africa,-30.559500,22.937500,2020-03-30,1326,3,31.0,TBF
17474,NaN,Sri Lanka,7.000000,81.000000,2020-03-30,122,2,15.0,TBF
17477,NaN,Sweden,63.000000,16.000000,2020-03-30,4028,146,16.0,TBF
17478,NaN,Switzerland,46.818200,8.227500,2020-03-30,15922,359,1823.0,TBF
17481,NaN,Thailand,15.000000,101.000000,2020-03-30,1524,9,229.0,TBF
17483,NaN,Trinidad and Tobago,10.691800,-61.222500,2020-03-30,82,3,1.0,TBF
17484,NaN,Tunisia,34.000000,9.000000,2020-03-30,312,8,3.0,TBF
17485,NaN,Turkey,38.963700,35.243300,2020-03-30,10827,168,162.0,TBF
17487,NaN,Ukraine,48.379400,31.165600,2020-03-30,548,13,8.0,TBF
17488,NaN,United Arab Emirates,24.000000,54.000000,2020-03-30,611,5,61.0,TBF
17495,NaN,United Kingdom,55.378100,-3.436000,2020-03-30,22141,1408,135.0,TBF
17496,NaN,Uruguay,-32.522800,-55.765800,2020-03-30,310,1,0.0,TBF
17497,NaN,US,37.090200,-95.712900,2020-03-30,161807,2978,5644.0,TBF
17498,NaN,Uzbekistan,41.377500,64.585300,2020-03-30,149,2,7.0,TBF
17500,NaN,Vietnam,16.000000,108.000000,2020-03-30,203,0,55.0,TBF
17502,NaN,Zimbabwe,-20.000000,30.000000,2020-03-30,7,1,0.0,TBF
17504,NaN,Dominica,15.415000,-61.371000,2020-03-30,11,0,0.0,TBF
17505,NaN,Grenada,12.116500,-61.679000,2020-03-30,9,0,0.0,TBF
17507,NaN,Syria,34.802075,38.996815,2020-03-30,10,2,NaN,TBF
17509,NaN,Belize,13.193900,-59.543200,2020-03-30,3,0,0.0,TBF
17511,NaN,Laos,19.856270,102.495496,2020-03-30,8,0,0.0,TBF
17512,NaN,Libya,26.335100,17.228331,2020-03-30,8,0,0.0,TBF
17513,NaN,West Bank and Gaza,31.952200,35.233200,2020-03-30,116,1,18.0,TBF
17516,NaN,Saint Kitts and Nevis,17.357822,-62.782998,2020-03-30,7,0,0.0,TBF
17519,NaN,Kosovo,42.602636,20.902977,2020-03-30,94,1,1.0,TBF
17524,NaN,MS Zaandam,0.000000,0.000000,2020-03-30,2,0,0.0,TBF

In [36]:
def lookup_capital(country):
  try:
    capital=capital_df.loc[country.lower()][0]
  except:
    capital="TBF"
  return capital

In [37]:
combined_int_df.apply(lambda x: lookup_capital(x['Country']) if (x['state_cleaned']=="TBF") else x['state_cleaned'], axis=1)

0                             Baghran
1                                E852
2                            Timokten
3                    Andorra la Vella
4                             Sautari
5                          St. John's
6                        Buenos Aires
7                             Yerevan
8        Australian Capital Territory
9                     New South Wales
10                 Northern Territory
11                         Queensland
12                    South Australia
13                           Tasmania
14                           Victoria
15                  Western Australia
16                             Vienna
17                           Agjabadi
18                             Nassau
19                             Manama
20                              Dhaka
21                         Bridgetown
22                              Minsk
23                           Brussels
24                         Porto-Novo
25                            Trongsa
26                                TBF
27                           Sarajevo
28                           BrasÃ­lia
29                             Rambai
                     ...
17496                      Montevideo
17497                             TBF
17498                        Tashkent
17499                         BolÃ­var
17500                           Hanoi
17501                          Lusaka
17502                          Harare
17503                Diamond Princess
17504                          Roseau
17505                    St. George's
17506                      Cheringoma
17507                        Damascus
17508                        Manufahi
17509                        Belmopan
17510                       Recovered
17511                       Vientiane
17512                         Tripoli
17513                             TBF
17514                       Fulacunda
17515                         Goundam
17516                      Basseterre
17517           Northwest Territories
17518                           Yukon
17519                        Pristina
17520                          Sagang
17521                        Anguilla
17522          British Virgin Islands
17523        Turks and Caicos Islands
17524                             TBF
17525                            CKGR
Length: 17526, dtype: object

In [38]:
combined_int_df['state_cleaned']=combined_int_df.apply(lambda x: lookup_capital(x['Country']) if (x['state_cleaned']=="TBF") else x['state_cleaned'], axis=1)

In [39]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Cote d'Ivoire         69
Holy See              69
Diamond Princess      69
MS Zaandam            69
Bolivia               69
West Bank and Gaza    69
Cabo Verde            69
US                    69
Czechia               69
Eswatini              69
Name: Country, dtype: int64

In [40]:
combined_int_df["Country"].replace({"Republic of Moldova": "Moldova", "Holy See": "Vatican City", "UK": "United Kingdom","Viet Nam":"Vietnam","Iran (Islamic Republic of)":"Iran"}, inplace=True)

In [41]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Cote d'Ivoire         69
Diamond Princess      69
Vatican City          69
MS Zaandam            69
Bolivia               69
West Bank and Gaza    69
Cabo Verde            69
US                    69
Czechia               69
Eswatini              69
Name: Country, dtype: int64

In [42]:
combined_int_df['state_cleaned']=combined_int_df.apply(lambda x: lookup_capital(x['Country']) if (x['state_cleaned']=="TBF") else x['state_cleaned'], axis=1)

In [43]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

MS Zaandam            69
Bolivia               69
West Bank and Gaza    69
Cote d'Ivoire         69
Cabo Verde            69
Diamond Princess      69
US                    69
Czechia               69
Eswatini              69
Name: Country, dtype: int64

In [44]:
combined_int_df["state_cleaned"]=combined_int_df.apply(lambda x: x['Country'] if (x['state_cleaned']=="TBF") else x['state_cleaned'], axis=1)

In [45]:
combined_int_df[combined_int_df.state_cleaned == "TBF"]['Country'].value_counts()

Series([], Name: Country, dtype: int64)

In [46]:
combined_int_df.to_csv('corona_dataset.csv')

In [47]:
combined_int_df[combined_int_df['Country']=='US']

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned
225,NaN,US,37.0902,-95.7129,2020-01-22,1,0,0.0,US
479,NaN,US,37.0902,-95.7129,2020-01-23,1,0,0.0,US
733,NaN,US,37.0902,-95.7129,2020-01-24,2,0,0.0,US
987,NaN,US,37.0902,-95.7129,2020-01-25,2,0,0.0,US
1241,NaN,US,37.0902,-95.7129,2020-01-26,5,0,0.0,US
1495,NaN,US,37.0902,-95.7129,2020-01-27,5,0,0.0,US
1749,NaN,US,37.0902,-95.7129,2020-01-28,5,0,0.0,US
2003,NaN,US,37.0902,-95.7129,2020-01-29,5,0,0.0,US
2257,NaN,US,37.0902,-95.7129,2020-01-30,5,0,0.0,US
2511,NaN,US,37.0902,-95.7129,2020-01-31,7,0,0.0,US
2765,NaN,US,37.0902,-95.7129,2020-02-01,8,0,0.0,US
3019,NaN,US,37.0902,-95.7129,2020-02-02,8,0,0.0,US
3273,NaN,US,37.0902,-95.7129,2020-02-03,11,0,0.0,US
3527,NaN,US,37.0902,-95.7129,2020-02-04,11,0,0.0,US
3781,NaN,US,37.0902,-95.7129,2020-02-05,11,0,0.0,US
4035,NaN,US,37.0902,-95.7129,2020-02-06,11,0,0.0,US
4289,NaN,US,37.0902,-95.7129,2020-02-07,11,0,0.0,US
4543,NaN,US,37.0902,-95.7129,2020-02-08,11,0,0.0,US
4797,NaN,US,37.0902,-95.7129,2020-02-09,11,0,3.0,US
5051,NaN,US,37.0902,-95.7129,2020-02-10,11,0,3.0,US
5305,NaN,US,37.0902,-95.7129,2020-02-11,12,0,3.0,US
5559,NaN,US,37.0902,-95.7129,2020-02-12,12,0,3.0,US
5813,NaN,US,37.0902,-95.7129,2020-02-13,13,0,3.0,US
6067,NaN,US,37.0902,-95.7129,2020-02-14,13,0,3.0,US
6321,NaN,US,37.0902,-95.7129,2020-02-15,13,0,3.0,US
6575,NaN,US,37.0902,-95.7129,2020-02-16,13,0,3.0,US
6829,NaN,US,37.0902,-95.7129,2020-02-17,13,0,3.0,US
7083,NaN,US,37.0902,-95.7129,2020-02-18,13,0,3.0,US
7337,NaN,US,37.0902,-95.7129,2020-02-19,13,0,3.0,US
7591,NaN,US,37.0902,-95.7129,2020-02-20,13,0,3.0,US
...,...,...,...,...,...,...,...,...,...
10131,NaN,US,37.0902,-95.7129,2020-03-01,74,1,7.0,US
10385,NaN,US,37.0902,-95.7129,2020-03-02,98,6,7.0,US
10639,NaN,US,37.0902,-95.7129,2020-03-03,118,7,7.0,US
10893,NaN,US,37.0902,-95.7129,2020-03-04,149,11,7.0,US
11147,NaN,US,37.0902,-95.7129,2020-03-05,217,12,7.0,US
11401,NaN,US,37.0902,-95.7129,2020-03-06,262,14,7.0,US
11655,NaN,US,37.0902,-95.7129,2020-03-07,402,17,7.0,US
11909,NaN,US,37.0902,-95.7129,2020-03-08,518,21,7.0,US
12163,NaN,US,37.0902,-95.7129,2020-03-09,583,22,7.0,US
12417,NaN,US,37.0902,-95.7129,2020-03-10,959,28,8.0,US
12671,NaN,US,37.0902,-95.7129,2020-03-11,1281,36,8.0,US
12925,NaN,US,37.0902,-95.7129,2020-03-12,1663,40,12.0,US
13179,NaN,US,37.0902,-95.7129,2020-03-13,2179,47,12.0,US
13433,NaN,US,37.0902,-95.7129,2020-03-14,2727,54,12.0,US
13687,NaN,US,37.0902,-95.7129,2020-03-15,3499,63,12.0,US
13941,NaN,US,37.0902,-95.7129,2020-03-16,4632,85,17.0,US
14195,NaN,US,37.0902,-95.7129,2020-03-17,6421,108,17.0,US
14449,NaN,US,37.0902,-95.7129,2020-03-18,7783,118,105.0,US
14703,NaN,US,37.0902,-95.7129,2020-03-19,13677,200,121.0,US
14957,NaN,US,37.0902,-95.7129,2020-03-20,19100,244,147.0,US
15211,NaN,US,37.0902,-95.7129,2020-03-21,25489,307,176.0,US
15465,NaN,US,37.0902,-95.7129,2020-03-22,33276,417,178.0,US
15719,NaN,US,37.0902,-95.7129,2020-03-23,43847,557,178.0,US
15973,NaN,US,37.0902,-95.7129,2020-03-24,53740,706,348.0,US
16227,NaN,US,37.0902,-95.7129,2020-03-25,65778,942,361.0,US
16481,NaN,US,37.0902,-95.7129,2020-03-26,83836,1209,681.0,US
16735,NaN,US,37.0902,-95.7129,2020-03-27,101657,1581,869.0,US
16989,NaN,US,37.0902,-95.7129,2020-03-28,121478,2026,1072.0,US
17243,NaN,US,37.0902,-95.7129,2020-03-29,140886,2467,2665.0,US
17497,NaN,US,37.0902,-95.7129,2020-03-30,161807,2978,5644.0,US

In [48]:
usstates_df = pd.read_csv('https://raw.githubusercontent.com/jasonong/List-of-US-States/master/states.csv')

In [49]:
usstates_df.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [50]:
usstates_df=usstates_df.set_index('Abbreviation')

In [51]:
usstates_df.head()

                   State
Abbreviation
AL               Alabama
AK                Alaska
AZ               Arizona
AR              Arkansas
CA            California

In [52]:
usstates_df.loc['FL']

State    Florida
Name: FL, dtype: object

In [53]:
combined_int_df.dtypes

State                    object
Country                  object
Lat                     float64
Long                    float64
Date             datetime64[ns]
Confirmed                 int64
Death                     int64
Recovered               float64
state_cleaned            object
dtype: object

In [54]:
combined_int_df['State'].astype(str)

0                                 nan
1                                 nan
2                                 nan
3                                 nan
4                                 nan
5                                 nan
6                                 nan
7                                 nan
8        Australian Capital Territory
9                     New South Wales
10                 Northern Territory
11                         Queensland
12                    South Australia
13                           Tasmania
14                           Victoria
15                  Western Australia
16                                nan
17                                nan
18                                nan
19                                nan
20                                nan
21                                nan
22                                nan
23                                nan
24                                nan
25                                nan
26                                nan
27                                nan
28                                nan
29                                nan
                     ...
17496                             nan
17497                             nan
17498                             nan
17499                             nan
17500                             nan
17501                             nan
17502                             nan
17503                Diamond Princess
17504                             nan
17505                             nan
17506                             nan
17507                             nan
17508                             nan
17509                             nan
17510                       Recovered
17511                             nan
17512                             nan
17513                             nan
17514                             nan
17515                             nan
17516                             nan
17517           Northwest Territories
17518                           Yukon
17519                             nan
17520                             nan
17521                        Anguilla
17522          British Virgin Islands
17523        Turks and Caicos Islands
17524                             nan
17525                             nan
Name: State, Length: 17526, dtype: object

In [58]:
combined_int_df['City']=combined_int_df.apply(lambda x: x['State'].split(",")[0] if(x['Country']=="US" and pd.notnull(x['State'])) else "", axis=1)

In [59]:
def convert_state(state):
  try:
    output=state.split(",")[1].strip()
    output=usstates_df.loc[output.upper()][0]
  except:
    output=state
  return output

In [60]:
combined_int_df["state_cleaned"]=combined_int_df.apply(lambda x: convert_state(x['state_cleaned']) if(x['Country']=="US") else x['state_cleaned'], axis=1)

In [61]:
combined_int_df.head(50)

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned,City
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0.0,Baghran,
1,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0.0,E852,
2,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0.0,Timokten,
3,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0.0,Andorra la Vella,
4,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0.0,Sautari,
5,NaN,Antigua and Barbuda,17.0608,-61.7964,2020-01-22,0,0,0.0,St. John's,
6,NaN,Argentina,-38.4161,-63.6167,2020-01-22,0,0,0.0,Buenos Aires,
7,NaN,Armenia,40.0691,45.0382,2020-01-22,0,0,0.0,Yerevan,
8,Australian Capital Territory,Australia,-35.4735,149.0124,2020-01-22,0,0,0.0,Australian Capital Territory,
9,New South Wales,Australia,-33.8688,151.2093,2020-01-22,0,0,0.0,New South Wales,
10,Northern Territory,Australia,-12.4634,130.8456,2020-01-22,0,0,0.0,Northern Territory,
11,Queensland,Australia,-28.0167,153.4000,2020-01-22,0,0,0.0,Queensland,
12,South Australia,Australia,-34.9285,138.6007,2020-01-22,0,0,0.0,South Australia,
13,Tasmania,Australia,-41.4545,145.9707,2020-01-22,0,0,0.0,Tasmania,
14,Victoria,Australia,-37.8136,144.9631,2020-01-22,0,0,0.0,Victoria,
15,Western Australia,Australia,-31.9505,115.8605,2020-01-22,0,0,0.0,Western Australia,
16,NaN,Austria,47.5162,14.5501,2020-01-22,0,0,0.0,Vienna,
17,NaN,Azerbaijan,40.1431,47.5769,2020-01-22,0,0,0.0,Agjabadi,
18,NaN,Bahamas,25.0343,-77.3963,2020-01-22,0,0,0.0,Nassau,
19,NaN,Bahrain,26.0275,50.5500,2020-01-22,0,0,0.0,Manama,
20,NaN,Bangladesh,23.6850,90.3563,2020-01-22,0,0,0.0,Dhaka,
21,NaN,Barbados,13.1939,-59.5432,2020-01-22,0,0,0.0,Bridgetown,
22,NaN,Belarus,53.7098,27.9534,2020-01-22,0,0,0.0,Minsk,
23,NaN,Belgium,50.8333,4.0000,2020-01-22,0,0,0.0,Brussels,
24,NaN,Benin,9.3077,2.3158,2020-01-22,0,0,0.0,Porto-Novo,
25,NaN,Bhutan,27.5142,90.4336,2020-01-22,0,0,0.0,Trongsa,
26,NaN,Bolivia,-16.2902,-63.5887,2020-01-22,0,0,0.0,Bolivia,
27,NaN,Bosnia and Herzegovina,43.9159,17.6791,2020-01-22,0,0,0.0,Sarajevo,
28,NaN,Brazil,-14.2350,-51.9253,2020-01-22,0,0,0.0,BrasÃ­lia,
29,NaN,Brunei,4.5353,114.7277,2020-01-22,0,0,0.0,Rambai,
30,NaN,Bulgaria,42.7339,25.4858,2020-01-22,0,0,0.0,Sofia,
31,NaN,Burkina Faso,12.2383,-1.5616,2020-01-22,0,0,0.0,Kadiogo,
32,NaN,Cabo Verde,16.5388,-23.0418,2020-01-22,0,0,0.0,Cabo Verde,
33,NaN,Cambodia,11.5500,104.9167,2020-01-22,0,0,0.0,Phnom Penh,
34,NaN,Cameroon,3.8480,11.5021,2020-01-22,0,0,0.0,Yaounde,
35,Alberta,Canada,53.9333,-116.5765,2020-01-22,0,0,NaN,Alberta,
36,British Columbia,Canada,49.2827,-123.1207,2020-01-22,0,0,NaN,British Columbia,
37,Grand Princess,Canada,37.6489,-122.6655,2020-01-22,0,0,NaN,Grand Princess,
38,Manitoba,Canada,53.7609,-98.8139,2020-01-22,0,0,NaN,Manitoba,
39,New Brunswick,Canada,46.5653,-66.4619,2020-01-22,0,0,NaN,New Brunswick,
40,Newfoundland and Labrador,Canada,53.1355,-57.6604,2020-01-22,0,0,NaN,Newfoundland and Labrador,
41,Nova Scotia,Canada,44.6820,-63.7443,2020-01-22,0,0,NaN,Nova Scotia,
42,Ontario,Canada,51.2538,-85.3232,2020-01-22,0,0,NaN,Ontario,
43,Prince Edward Island,Canada,46.5107,-63.4168,2020-01-22,0,0,NaN,Prince Edward Island,
44,Quebec,Canada,52.9399,-73.5491,2020-01-22,0,0,NaN,Quebec,
45,Saskatchewan,Canada,52.9399,-106.4509,2020-01-22,0,0,NaN,Saskatchewan,
46,NaN,Central African Republic,6.6111,20.9394,2020-01-22,0,0,0.0,Ippy,
47,NaN,Chad,15.4542,18.7322,2020-01-22,0,0,0.0,Borkou,
48,NaN,Chile,-35.6751,-71.5430,2020-01-22,0,0,0.0,Maule,
49,Anhui,China,31.8257,117.2264,2020-01-22,1,0,0.0,Anhui,

In [62]:
combined_int_df[combined_int_df.Country=="US"][0:100]

,State,Country,Lat,Long,Date,Confirmed,Death,Recovered,state_cleaned,City
225,NaN,US,37.0902,-95.7129,2020-01-22,1,0,0.0,US,
479,NaN,US,37.0902,-95.7129,2020-01-23,1,0,0.0,US,
733,NaN,US,37.0902,-95.7129,2020-01-24,2,0,0.0,US,
987,NaN,US,37.0902,-95.7129,2020-01-25,2,0,0.0,US,
1241,NaN,US,37.0902,-95.7129,2020-01-26,5,0,0.0,US,
1495,NaN,US,37.0902,-95.7129,2020-01-27,5,0,0.0,US,
1749,NaN,US,37.0902,-95.7129,2020-01-28,5,0,0.0,US,
2003,NaN,US,37.0902,-95.7129,2020-01-29,5,0,0.0,US,
2257,NaN,US,37.0902,-95.7129,2020-01-30,5,0,0.0,US,
2511,NaN,US,37.0902,-95.7129,2020-01-31,7,0,0.0,US,
2765,NaN,US,37.0902,-95.7129,2020-02-01,8,0,0.0,US,
3019,NaN,US,37.0902,-95.7129,2020-02-02,8,0,0.0,US,
3273,NaN,US,37.0902,-95.7129,2020-02-03,11,0,0.0,US,
3527,NaN,US,37.0902,-95.7129,2020-02-04,11,0,0.0,US,
3781,NaN,US,37.0902,-95.7129,2020-02-05,11,0,0.0,US,
4035,NaN,US,37.0902,-95.7129,2020-02-06,11,0,0.0,US,
4289,NaN,US,37.0902,-95.7129,2020-02-07,11,0,0.0,US,
4543,NaN,US,37.0902,-95.7129,2020-02-08,11,0,0.0,US,
4797,NaN,US,37.0902,-95.7129,2020-02-09,11,0,3.0,US,
5051,NaN,US,37.0902,-95.7129,2020-02-10,11,0,3.0,US,
5305,NaN,US,37.0902,-95.7129,2020-02-11,12,0,3.0,US,
5559,NaN,US,37.0902,-95.7129,2020-02-12,12,0,3.0,US,
5813,NaN,US,37.0902,-95.7129,2020-02-13,13,0,3.0,US,
6067,NaN,US,37.0902,-95.7129,2020-02-14,13,0,3.0,US,
6321,NaN,US,37.0902,-95.7129,2020-02-15,13,0,3.0,US,
6575,NaN,US,37.0902,-95.7129,2020-02-16,13,0,3.0,US,
6829,NaN,US,37.0902,-95.7129,2020-02-17,13,0,3.0,US,
7083,NaN,US,37.0902,-95.7129,2020-02-18,13,0,3.0,US,
7337,NaN,US,37.0902,-95.7129,2020-02-19,13,0,3.0,US,
7591,NaN,US,37.0902,-95.7129,2020-02-20,13,0,3.0,US,
...,...,...,...,...,...,...,...,...,...,...
10131,NaN,US,37.0902,-95.7129,2020-03-01,74,1,7.0,US,
10385,NaN,US,37.0902,-95.7129,2020-03-02,98,6,7.0,US,
10639,NaN,US,37.0902,-95.7129,2020-03-03,118,7,7.0,US,
10893,NaN,US,37.0902,-95.7129,2020-03-04,149,11,7.0,US,
11147,NaN,US,37.0902,-95.7129,2020-03-05,217,12,7.0,US,
11401,NaN,US,37.0902,-95.7129,2020-03-06,262,14,7.0,US,
11655,NaN,US,37.0902,-95.7129,2020-03-07,402,17,7.0,US,
11909,NaN,US,37.0902,-95.7129,2020-03-08,518,21,7.0,US,
12163,NaN,US,37.0902,-95.7129,2020-03-09,583,22,7.0,US,
12417,NaN,US,37.0902,-95.7129,2020-03-10,959,28,8.0,US,
12671,NaN,US,37.0902,-95.7129,2020-03-11,1281,36,8.0,US,
12925,NaN,US,37.0902,-95.7129,2020-03-12,1663,40,12.0,US,
13179,NaN,US,37.0902,-95.7129,2020-03-13,2179,47,12.0,US,
13433,NaN,US,37.0902,-95.7129,2020-03-14,2727,54,12.0,US,
13687,NaN,US,37.0902,-95.7129,2020-03-15,3499,63,12.0,US,
13941,NaN,US,37.0902,-95.7129,2020-03-16,4632,85,17.0,US,
14195,NaN,US,37.0902,-95.7129,2020-03-17,6421,108,17.0,US,
14449,NaN,US,37.0902,-95.7129,2020-03-18,7783,118,105.0,US,
14703,NaN,US,37.0902,-95.7129,2020-03-19,13677,200,121.0,US,
14957,NaN,US,37.0902,-95.7129,2020-03-20,19100,244,147.0,US,
15211,NaN,US,37.0902,-95.7129,2020-03-21,25489,307,176.0,US,
15465,NaN,US,37.0902,-95.7129,2020-03-22,33276,417,178.0,US,
15719,NaN,US,37.0902,-95.7129,2020-03-23,43847,557,178.0,US,
15973,NaN,US,37.0902,-95.7129,2020-03-24,53740,706,348.0,US,
16227,NaN,US,37.0902,-95.7129,2020-03-25,65778,942,361.0,US,
16481,NaN,US,37.0902,-95.7129,2020-03-26,83836,1209,681.0,US,
16735,NaN,US,37.0902,-95.7129,2020-03-27,101657,1581,869.0,US,
16989,NaN,US,37.0902,-95.7129,2020-03-28,121478,2026,1072.0,US,
17243,NaN,US,37.0902,-95.7129,2020-03-29,140886,2467,2665.0,US,
17497,NaN,US,37.0902,-95.7129,2020-03-30,161807,2978,5644.0,US,

In [63]:
combined_int_df.to_csv("corona_dataset.csv")

In [64]:
combined_int_df.apply(lambda x: 1 if(x['Country']=="US" and numpy.all(pd.notnull(x['City']))) else 0, axis=1)

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
17496    0
17497    1
17498    0
17499    0
17500    0
17501    0
17502    0
17503    0
17504    0
17505    0
17506    0
17507    0
17508    0
17509    0
17510    0
17511    0
17512    0
17513    0
17514    0
17515    0
17516    0
17517    0
17518    0
17519    0
17520    0
17521    0
17522    0
17523    0
17524    0
17525    0
Length: 17526, dtype: int64